.navlink, .contentlink {
    display: block;
    background: #ccc;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.navlink.top {
    background: #555;
}
#content {
    position: relative;
    top: 50px;
}
#loading-indicator {
    pointer-events: none;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
.remote table {
    width: 100%;
}
.remote td {
    text-align: center;
}
i {
    min-width: 1em;
}
.remote .fa {
    font-size: 50px; /* fallback */
    font-size: 15vmin;
}
#sortbuttons {
    visibility: hidden;
}
.button {
    cursor: pointer;
}
.sortbutton {
    display: inline-block;
    background: #ccc;
    border: 1px solid gray;
    padding: 10px;
}
.listing {
    margin: 0 auto;
    width: 90%;
    border: 1px solid #eee;
    padding: 5px;
}
ul {
    list-style: none;
}
div {
    margin-bottom: 20px;
}
.contentlink {
    display: inline-block;
    min-width: 200px;
    max-width: 85%;
}
.modified {
    font-size: 80%;
}
.video {
    font-weight: bold;
}
a:visited > .video {
    color: gray;
}
a {
    color: black;
    text-decoration: none;
}
.video, .file, .folder, .ytdl-playlist {
    word-wrap: break-word;
}
